*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f4f4f4;
}

header{
  background:#111;
  color:white;
  padding:20px 50px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-size:28px;
  color:#ff4d00;
  font-weight:bold;
}

nav a{
  color:white;
  text-decoration:none;
  margin-left:20px;
  font-weight:bold;
}

nav a:hover{
  color:#ff4d00;
}

.hero{
  height:90vh;
  background:
  linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
  url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438")
  center/cover no-repeat;

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
}

.hero h1{
  font-size:55px;
}

.hero p{
  font-size:22px;
  margin:20px 0;
}

.btn{
  background:#ff4d00;
  color:white;
  padding:12px 25px;
  text-decoration:none;
  border-radius:5px;
}

section{
  padding:60px 50px;
  text-align:center;
}

.cards{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
  margin-top:30px;
}

.card{
  background:white;
  width:280px;
  padding:25px;
  border-radius:10px;
  box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.gallery-box{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.gallery-box img{
  width:300px;
  height:220px;
  object-fit:cover;
  border-radius:10px;
}

form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

input,textarea{
  padding:12px;
  border:1px solid #ccc;
  border-radius:5px;
}

button{
  background:#ff4d00;
  color:white;
  border:none;
  padding:12px;
  border-radius:5px;
  cursor:pointer;
}

footer{
  background:#111;
  color:white;
  text-align:center;
  padding:20px;
  margin-top:30px;
}
html {
  scroll-behavior: smooth;
}

.card, .gallery-box img, .btn, button {
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.2);
}

.gallery-box img:hover {
  transform: scale(1.05);
}

.btn:hover, button:hover {
  background: white;
  color: #ff4d00;
  border: 1px solid #ff4d00;
}

.active {
  color: #ff4d00;
}

.feedback-box {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.dark-mode {
  background: #111;
  color: white;
}

.dark-mode .card,
.dark-mode .feedback-box {
  background: #222;
  color: white;
}
.card:hover {
  transform: translateY(-10px);
  transition: 0.3s;
}

.gallery-box img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
body {
  background-image: url("https://images.unsplash.com/photo-1517836357463-d25dfeac3438");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}